<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69505685443-se9kv3mflv7stjoub7gstj88reu0p1p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69505685443-se9kv3mflv7stjoub7gstj88reu0p1p4</string>
	<key>API_KEY</key>
	<string>AIzaSyCC7CJXZ-syQzNr23O0gB4pFPUr0bneL8I</string>
	<key>GCM_SENDER_ID</key>
	<string>69505685443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.centropolis.centropolis</string>
	<key>PROJECT_ID</key>
	<string>centropolis-42c97</string>
	<key>STORAGE_BUCKET</key>
	<string>centropolis-42c97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69505685443:ios:d552ed42244edbc87b8f76</string>
</dict>
</plist>